<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Recipe</title>
</head>
<nav>
    <a href="/recipes">Back</a>
</nav>

<body>
    <h3>Add a Recipe</h3>
    <form action="/recipes" method="POST">
        <label for="name">Recipe Name:</label>
        <input type="text" name="name" id="name" />

        <label for="instructions">Instructions:</label>
        <textarea name="instructions" id="instructions" rows="4"
            cols="50">Input instructions for recipe here.</textarea>

        <h3>Ingredients</h3>
        <% if(ingredients) { ingredients.forEach(ingredient=> { %>
            <input type="checkbox" id="ingredients" name="ingredients" value="<%=ingredient._id %>">
            <label for="ingredients">
                <%=ingredient.name %>
            </label>
            <% }); %>
                <% } %>
                <a href="/ingredients"><button type="button">New Ingredient</button></a>
                    <div><br><button type="submit">Add Recipe</button></div>
    </form>

</body>

</html>